# Backend API
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Paystack
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key

# Flutterwave
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-your_flutterwave_public_key

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
